* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(254, 254, 254);
  font-family: "Roboto", "Noto Sans KR", serif;
  position: relative;
  z-index: -1;
}

html,
body,
#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.loader,
.loader_scroll {
  position: fixed;
  top: 101px;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.loader_scroll {
  display: none;
}
.loader_text {
  display: block;
  margin-top: -101px;
  font-size: 14px;
}

.movies {
  margin: 0 auto;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 180px;
  }
}
