html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(254, 254, 254);
  font-family: "Roboto", "Noto Sans KR", serif;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader .loader_text {
  font-size: 14px;
}

.movies {
  margin: 0 auto;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
