.movie {
  margin: 0 0.5%;
  width: 15.66666666666667%;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
}
.movie::after {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.movie:hover::after {
  display: block;
}
.movie img {
  width: 100%;
}

.movie_data {
  margin-top: 20px;
}

.movie_title {
  width: 100%;
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 18px;
}
.movie_title .title_year {
  font-size: 16px;
}

.movie_rating {
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 20px;
}
.genres .genres_genre {
  display: inline-block;
  margin-right: 8px;
  font-size: 15px;
}

.movie_summary {
  font-size: 16px;
  line-height: 1.3;
}

@media screen and (max-width: 767px) {
  .movie {
    width: 49%;
    margin-bottom: 40px;
  }
}
