.header {
  width: 100%;
  padding: 0 8px;
  height: 100px;
  border-bottom: 1px solid #ebcc66;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #ebcc66;
}

.gnb {
  display: flex;
  align-items: center;
}
.gnb .menu_bar {
  display: none;
  width: 20px;
  height: 20px;
  /* display: none; */
  position: relative;
  cursor: pointer;
}
.gnb .menu_bar span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ebcc66;
  position: absolute;
}

.gnb .menu_bar span:nth-child(1) {
  top: 0;
}
.gnb .menu_bar span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.gnb .menu_bar span:nth-child(3) {
  bottom: 0;
}

.gnb ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.gnb ul li {
  margin-right: 20px;
  cursor: pointer;
  color: #ebcc66;
}

@media screen and (max-width: 767px) {
  .gnb .menu_bar {
    display: block;
  }
  .gnb ul {
    display: none;
  }
}
